.main{
    margin:0 auto;
    border:1px solid;
    width:1024px;
    height:768px;
    position:relative;
}
/*通用样式*/
.ulNoStyle li{
    list-style:none;
    display:block;
}
/**/
header{
    width:100%;
    height:200px;
    border:1px solid;
}
footer{
    width:100%;
    height:80px;
    border:1px solid;
}
.leftArea{
    height:100%;
    border:1px solid;
}
.centerArea{
    border:1px solid;
    width:83% !important;
    height:100%;
}
.centerItem{
    height:auto;
}
.centerItem li{
    margin:0 auto;
    height:80px;
    width:80%;
    border-width:1px;
    margin-left:10%;
    transition:.3s;
    border:1px solid #C9C9C9;
    cursor:pointer;
    position:absolute;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    overflow:hidden;
}
.centerItemHover:hover{
    box-shadow:0px 0px 8px #C0C0C0;
}
.backIcon{
    border:1px solid;
}



